<div class="card" style="width: 90%; margin: auto; text-align="center">
  <h4>Metas y Objetivo del paciente <%=getPacienteName(@paciente)%></h4>
  <br>
  <br>
  <div class = "row">
    <div class = "col">
      <h5>Cambia el objetivo del paciente</h5>
      <%= form_for (@ppaciente) , :url => '/cambiar_objetivo/'+@paciente.to_s()  do |f| %>
      <%= f.text_field :objetivo%>
      <%= f.submit "Cambiar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      <h5>Agrega otra meta</h5>
        <% @nueva_meta = Meta.new %>
        <%= form_for (@nueva_meta) , :url => meta_path  do |f| %>
        <%= f.text_field :meta%>
        <%= f.hidden_field :paciente_id, :value=> @paciente  %>
        <%= f.submit "Guardar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

<br>
<br>

  <div class = "row">
    <div class = "col s12 m12 l12">
      <h5>Avance: <%=@porcentaje%>%</h5>
        <div id="progressbar" class="red lighten-2">
          <div class="determinate green accent-4" style="width: <%= @porcentaje%>%"></div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col s12 m12 l12">
      <div class="flow-text">
        <table style="font-size: 12pt;">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Actualizar meta</th>
              <th>Lograda</th>
              <th colspan="11"></th>
            </tr>
          </thead>
          <tbody>
            <% @metas.each do |meta| %>
              <tr>
                <%= form_for(meta) do |f| %>
                  <td><%= f.text_field :meta%></td>
                  <td><%= f.submit "Guardar", class: "btn btn-primary" %></td>
                <% end %>
                <%if meta.cumplida%>
                <td class= "green darken-1 center"> Completada</td>
                <%else%>
                <td class= "red darken-1 center"> En proceso</td>
                <%end%>
                <td><%= link_to 'Eliminar', metum_path(meta), class: "btn btn-primary" ,method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!--
  <h2>Agrega otra comentario o algun tip<h2>
    <% @nuevo_comment = TipsYcomentario.new %>
      <%= form_for (@nuevo_comment)   do |f| %>

      <%= f.text_field :tip%>
      <%= f.hidden_field :paciente_id, :value=> @paciente  %>
      <%= f.hidden_field :nutriologo_id, :value=> current_nutriologo.id  %>
      <%= f.hidden_field :remitente, :value=> current_nutriologo.username  %>

      <%= f.submit "Guardar", class: "btn btn-primary" %>

      <% end %>


    <table>
      <thead>
        <tr>
          <th>Tip o comentario</th>
          <th colspan="11"></th>
        </tr>
      </thead>

      <tbody>
        <% @comentarios.each do |tip| %>
          <tr>
            <td><%= tip.tip %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
-->

<br>
<br>

<div class="row">
  <div class="col s8 m6 l4">
    <%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+@paciente.to_s() , class: "btn-large pink darken-1 btn-block"%>
  </div>
</div>



<br>
</div>
