<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
        <p class="font-size-title">Metas y Objetivo del paciente <%=getPacienteName(@paciente)%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
  <div class = "row">
    <div class = "col">
      <p>Cambia el objetivo del paciente</p>
      <%= form_for (@ppaciente) , :url => '/cambiar_objetivo/'+@paciente.to_s()  do |f| %>
      <%= f.text_field :objetivo%>
      <%= f.submit "Cambiar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      <p>Agrega otra meta</p>
        <% @nueva_meta = Meta.new %>
        <%= form_for (@nueva_meta) , :url => meta_path  do |f| %>
        <%= f.text_field :meta %>
        <%= f.hidden_field :paciente_id, :value=> @paciente  %>
        <%= f.submit "Guardar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

<br>
<br>

  <div class = "row">
    <div class = "col s12 m12 l12">
      <p>Avance: <%=@porcentaje%>%</p>
        <div id="progressbar" class="red lighten-2">
          <div class="determinate green accent-4" style="width: <%= @porcentaje%>%"></div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col s12 m12 l12">
      <div class="flow-text">
        <table style="font-size: 12pt;">
          <thead>
            <tr>
              <th><p>Descripción</p></th>
              <th><p>Actualizar meta</p></th>
              <th><p>Lograda</p></th>
              <th colspan="11"></p></th>
            </tr>
          </thead>
          <tbody>
            <% @metas.each do |meta| %>
              <tr>
                <%= form_for(meta) do |f| %>
                  <td><p><%= f.text_field :meta%></p></td>
                  <td><p><%= f.submit "Guardar", class: "btn btn-primary" %></p></td>
                <% end %>
                <%if meta.cumplida%>
                <td class= "green darken-1 center"> Completada</p></td>
                <%else%>
                <td class= "red darken-1 center"> En proceso</p></td>
                <%end%>
                <td><p><%= link_to 'Eliminar', metum_path(meta), class: "btn btn-primary" ,method: :delete, data: { confirm: '¿Esta seguro?' } %></p></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col s8 m6 l4">
    <%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+@paciente.to_s() , class: "col s12 btn btn-primary"%>
  </div>
</div>
