<% @paciente_id=Sesion.find(@cita).paciente_id%>

<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
        <p class="font-size-title">Metas Paciente <%=getPacienteName(@paciente_id)%></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
          <p class="card-title">Agrega otra meta</p>
  <% @nueva_meta = Meta.new %>
    <%= form_for (@nueva_meta) , :url => meta_path  do |f| %>

    <%= f.text_field :meta%>
    <%= f.hidden_field :paciente_id, :value=> @paciente_id  %>
    <%= f.hidden_field :sesions_id, :value=> @cita  %>
    <%= f.submit "Guardar", class: "btn btn-primary" %>

    <% end %>
    <div class = "row" style="margin-top: 25px;">
    <div class = "col s10 offset-s0 ">
      <p>Avance: <%=@porcentaje%>%</p>
        <div id="progressbar" class="red lighten-2">
          <div class="determinate green accent-4" style="width: <%= @porcentaje%>%"></div>
      </div>
    </div>
    </div>

  <table>
    <thead>
      <tr>
        <th><p>Descripcion</p></th>
        <th><p>Lograda</p></th>
        <th colspan="11"></th>
      </tr>
    </thead>

    <tbody>
      <% @metas.each do |meta| %>
        <tr>
          <td><p><%= meta.meta %></p></td>
          <%if meta.cumplida%>
            <td class= "green darken-1 btn-block center"><p> Completada</p></td>
          <%else%>
            <td class= "red darken-1 btn-block center"><p> En proceso</p></td>
          <%end%>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class = "row" style="margin-top: 25px;">
  <div class="col s8 m6 l4">
    <%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+@paciente_id.to_s() , class: "col s12 btn btn-primary"%>
  </div>
</div>
