<div class="card" style="width: 90%; margin: auto; text-align="center">
  <h4>Mis Sesiones</h4>

  <table>
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Sede</th>
        <th>Fecha</th>
        <th colspan="11"></th>
      </tr>
    </thead>

    <tbody>
      <% current_nutriologo_sesions.each do |sesion| %>
        <tr>
          <td><%= getPacienteName(sesion.paciente_id) %></td>
          <td><%= getSede(sesion.hora_id) %></td>
          <td><%= getHora(sesion.hora_id) %></td>
          <td style='align:left'>
            <div class="row">
              <div class="col s10">
                <%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+sesion.paciente_id.to_s(), class: "col s10 btn-small pink lighten-2 btn-block" %>
              </div>
              <% if Time.now > Horario.find(sesion.hora_id).hora_disponible %>
                <div class="col s2"><i class="material-icons tooltipped col s2" style="color: #ad190a;" data-position="top" data-tooltip="¡Ya paso la fecha de la sesión!">warning</i></div>
              <% end %>
            </div>
          </td>
          <td></td>
        </tr>
      <% end %>

      <% current_nutriologo_sesionss.each do |sesion2| %>
        <tr>
          <td><%= getPacienteName(sesion2.paciente_id) %></td>
          <td><%= getSede(sesion2.hora_id) %></td>
          <td><%= getHora(sesion2.hora_id) %></td>
          <td style='align:left'>
            <div class="row">
              <div class="col s10">
                <%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+sesion2.paciente_id.to_s(), class: "col s10 btn-small pink lighten-2 btn-block" %>
              </div>
              <% if Time.now > Horario.find(sesion2.hora_id).hora_disponible %>
                <div class="col s2"><i class="material-icons tooltipped col s2" style="color: #ad190a;" data-position="top" data-tooltip="¡Ya paso la fecha de la sesión!">warning</i></div>
              <% end %>
            </div>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
