<div class="card" style="width: 90%; margin: auto; text-align="center">
<h4>Mis Sesiones</h4>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Sede</th>
      <th>Fecha</th>
      <th colspan="11"></th>
    </tr>
  </thead>

  <tbody>
    <% current_nutriologo_sesions.each do |sesion| %>
      <tr>
        <td><%= getPacienteName(sesion.paciente_id) %></td>
        <td><%= getSede(sesion.hora_id) %></td>
        <td><%= getHora(sesion.hora_id) %></td>

        <td><%= link_to 'Editar datos', edit_sesion_path(sesion), class: "btn-small pink lighten-2 btn-block" %></td>
        <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+sesion.paciente_id.to_s(), class: "btn-small pink lighten-2 btn-block" %></td>

      </tr>
    <% end %>
    <tr>
      <td></td>

    </tr>
    <% current_nutriologo_sesionss.each do |sesion2| %>
      <tr>
        <td><%= getPacienteName(sesion2.paciente_id) %></td>
        <td><%= getSede(sesion2.hora_id) %></td>
        <td><%= getHora(sesion2.hora_id) %></td>

        <td><%= link_to 'Editar datos', edit_sesion_path(sesion2), class: "btn-small pink lighten-2 btn-block" %></td>
        <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+sesion2.paciente_id.to_s() , class: "btn-small pink lighten-2 btn-block"%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
                      </div>
