<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
        <p class="font-size-title">Sesiones paciente <%=getPacienteName(@paciente) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
  <% numS=1%>
  <table class="centered highlight">
    <thead>
      <tr>
        <th><p>Indicadores</p></th>
        <% @sesions.each do |sesion| %>
          <th><p>Sesión <%=numS%></p></th>
          <% numS+=1%>
        <% end %>
        <% if numS<7
            while numS<7%>
          <th><p>Sesión <%=numS%></p></th>
              <% numS+=1%>
            <%end
           end %>
           <th colspan="11"></th>
        </thead>
        <tbody>
        <tr>
          <td><p>Peso</p></td>
        <% @sesions.each do |sesion| %>
            <td><p><%= sesion.peso %></p></td>
        <% end %>
      </tr>
      <tr>
        <td><p>Estatura</p></td>
      <% @sesions.each do |sesion| %>
          <td><p><%= sesion.estatura %></p></td>
      <% end %>
    </tr>
    <tr>
      <td><p>Grasa</p></td>
    <% @sesions.each do |sesion| %>
        <td><p><%= sesion.grasa %></p></td>
    <% end %>
  </tr>
  <tr>
    <td><p>Músculo</p></td>
  <% @sesions.each do |sesion| %>
      <td><p><%= sesion.musculo %></p></td>
  <% end %>
</tr>
<tr>
  <td><p>Cintura</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%= sesion.cintura %></p></td>
<% end %>
</tr>
<tr>
  <td><p>IMC</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%= sesion.imc %></p></td>
<% end %>
</tr>
<tr>
  <td><p>Grasa Vis</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%= sesion.grasa_vis %></p></td>
<% end %>
</tr>
<tr>
  <td><p>Edad Metabólica</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%= sesion.edad_metabolica %></p></td>
<% end %>
</tr>
<tr>
  <td><p>Hora</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%= getHora(sesion.hora_id) %></p></td>
<% end %>
</tr>
<tr>
  <td><p>Nutriólogo</p></td>
<% @sesions.each do |sesion| %>
    <td><p><%=getNutriologoName(sesion.nutriologo_id) %></p></td>
<% end %>


</tr>
<tr>
  <td><p>Datos</p></td>
<% @sesions.each do |sesion| %>
    <td style="padding-top: 9.3px; padding-bottom: 9.3px;">
      <%=link_to 'Editar datos', edit_sesion_path(sesion), class: "col s12 btn btn-primary" %>
    </p></td>
<% end %>


</tr>
<tr>
  <td><p>Citas</p></td>
<% @sesions.each do |sesion| %>
    <td style="padding-top: 9.3px; padding-bottom: 9.3px;">
      <%=link_to 'Ver Metas Cita', "/metas_cita/"+sesion.id.to_s(), class: "col s12 btn btn-primary"%>
    </p></td>
<% end %>


</tr>

  <td><p>Dietas</p></td>
  <td style="padding-top: 9.3px; padding-bottom: 9.3px;">
    <%= link_to 'Dietas', "/dietas_paciente/"+@paciente.to_s(), class: "col s12 btn btn-primary" %>
  </p></td>

    </tbody>
  </table>
<br>
<br>
<br>
  <div class="row">
  <div class="col s4 offset-s0">
  <%= link_to 'Ver Metas y Objetivo Paciente', "/metas_paciente/"+@paciente.to_s(), class: "btn btn-primary" %>
</div>
</div>
      </div>
    </div>
  </div>
</div>
