<div class="card" style="width: 90%; margin: auto; text-align="center">
  <h1>Sesiones paciente <%=getPacienteName(@paciente) %></h1>

  <% numS=1%>
  <table class="responsive-table centered highlight">
    <thead>
      <tr>
        <th>Información <%=getPacienteName(@paciente)%></th>
        <% @sesions.each do |sesion| %>
          <th>Sesión <%=numS%></th>
          <% numS+=1%>
        <% end %>
        <% if numS<7
            while numS<7%>
              <th>Sesión <%=numS%></th>
              <% numS+=1%>
            <%end
           end %>
           <th colspan="11"></th>
        </thead>
        <tbody>
        <tr>
          <td>Peso</td>
        <% @sesions.each do |sesion| %>
            <td><%= sesion.peso %></td>
        <% end %>
      </tr>
      <tr>
        <td>Estatura</td>
      <% @sesions.each do |sesion| %>
          <td><%= sesion.estatura %></td>
      <% end %>
    </tr>
    <tr>
      <td>Grasa</td>
    <% @sesions.each do |sesion| %>
        <td><%= sesion.grasa %></td>
    <% end %>
  </tr>
  <tr>
    <td>Musculo</td>
  <% @sesions.each do |sesion| %>
      <td><%= sesion.musculo %></td>
  <% end %>
</tr>
<tr>
  <td>Agua</td>
<% @sesions.each do |sesion| %>
    <td><%= sesion.agua %></td>
<% end %>
</tr>
<tr>
  <td>IMC</td>
<% @sesions.each do |sesion| %>
    <td><%= sesion.imc %></td>
<% end %>
</tr>
<tr>
  <td>Grasa Vis</td>
<% @sesions.each do |sesion| %>
    <td><%= sesion.grasa_vis %></td>
<% end %>
</tr>
<tr>
  <td>Edad Metabolica</td>
<% @sesions.each do |sesion| %>
    <td><%= sesion.edad_metabolica %></td>
<% end %>
</tr>
<tr>
  <td>Hora</td>
<% @sesions.each do |sesion| %>
    <td><%= getHora(sesion.hora_id) %></td>
<% end %>
</tr>
<tr>
  <td>Nutriologo</td>
<% @sesions.each do |sesion| %>
    <td><%=getNutriologoName(sesion.nutriologo_id) %></td>
<% end %>


</tr>
<tr>
  <td>Datos</td>
<% @sesions.each do |sesion| %>
    <td><%=link_to 'Editar datos', edit_sesion_path(sesion), class: "btn-small pink lighten-2 btn-block" %></td>
<% end %>


</tr>
<tr>
  <td>Citas</td>
<% @sesions.each do |sesion| %>
    <td><%=link_to 'Ver Metas Cita', "/metas_cita/"+sesion.id.to_s(), class: "btn-small pink lighten-2 btn-block"%></td>
<% end %>


</tr>


    </tbody>
  </table>
<br>
<br>
<br>
  <div class="row">
  <div class="col s4 offset-s0">
  <%= link_to 'Ver Metas y Objetivo Paciente', "/metas_paciente/"+@paciente.to_s(), class: "btn pink darken-1 btn-block" %>
</div>
</div>
  <br>
                           </div>
