<br></br>
<div class="row">
  <div class="col s5 offset-s1">
    <a>
      <img src="<%= asset_path('nutriologoFotoResize.jpg') %>" height="100%" width="100%"/>
    </a>
  </div>
 <div class="col s5">
   <a>
    <img src="<%= asset_path('fotoNutriologo2Resize.jpg') %>" height="100%" width="100%"/>
   </a>
 </div>
  <div class="col s5 offset-s1">
    <%= link_to "Nutriologo Ingresa Aquí", '/nutriologos/sign_in', class: "btn-large pink darken-1 btn-block" %>
  </div>
 <div class="col s5">
   <%= link_to "Paciente Ingresa Aquí", '/pacientes/sign_in', class: "btn-large pink darken-1 btn-block" %>
 </div>
</div>

<% if false %>
<%= link_to "Admin Ingresa Aquí", '/users/sign_in', class: "btn-large pink darken-1" %>
<% end %>
