<div class="row">
  <div class="col s12 no-padding-left">
    <div class="card">
      <div class="card-item rounded center">
        <div class="card-title">
          <p class="font-size-title">Bienvenido, Administrador</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field middle">
            <i class="material-icons md-36 black">account_circle</i>
            <%= f.text_field :username, :placeholder => "Usuario", autofocus: true, autocomplete: "username", class: "field-input font-size-text" %>
          </div>
          <div class="field middle">
            <i class="material-icons md-36 black">fingerprint</i>
            <%= f.password_field :password, :placeholder => "Contraseña", autocomplete: "current-password", class: "field-input font-size-text" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <p class="font-size-small"><%= f.check_box :remember_me %> Remember Me</p>
          <% end -%>
          <%= f.submit "Iniciar Sesión", class: "card-action submit rounded" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
