<div class="card" style="width: 90%; margin: auto; text-align="center">
<%= form_with(model: sesion, local: true) do |form| %>
  <% if sesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sesion.errors.count, "error") %> prohibited this sesion from being saved:</h2>

      <ul>
      <% sesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!--<div class="col-md-6 col-md-offset-3 col offset-s1 s3">-->
    <div class="col s10 m8 l6">
      <div class="flow-text">
      <%= form_for(@sesion) do |f| %>
        <%= f.label :peso %>
        <%= f.number_field :peso %>

        <%= f.label :estatura %>
        <%= f.number_field :estatura %>

        <%= f.label :grasa%>
        <%= f.number_field :grasa %>

        <%= f.label :musculo %>
        <%= f.number_field :musculo %>

        <%= f.label :Cintura %>
        <%= f.number_field :cintura %>

        <%= f.label :imc%>
        <%= f.number_field :imc %>

        <%= f.label :grasa_vis %>
        <%= f.number_field :grasa_vis %>

        <%= f.label :edad_metabolica %>
        <%= f.number_field :edad_metabolica %>

        <div style="padding-bottom: 30px; padding-top: 20px;">
          <%= f.submit "Guardar", class: "btn btn-primary" %>
        </div>

        <% end %>
      </div>
    </div>
</div>
<% end %>
</div>
