<p id="notice"><%= notice %></p>

<div class="card" style="width: 90%; margin: auto; text-align='center'">

<div class ="row">
  <div class="col s12">
    <h4>Bienvenido al programa...</h4>
  </div>
</div>
</div>

<!-- Video principal -->
<div class="row">
  <div class="col s12">
    <div class="card" style="width: 91%; margin: auto; text-align='center'">
      <div class="card-content blue-grey-text center-align">
        <span class="card-title">Video 1: 6 tips de Salud 360</span>
        <video style="width: 640px; height: 385px;" controls>
          <source src="https://res.cloudinary.com/he98sycd1/video/upload/v1550518726/Salud_360.mp4" type="video/mp4">
        </video>
        <p>El nutriólogo Adrián nos comparte en este video los 6 tips de Salud360 que nos ayudarán a lograr nuestra meta</p>
      </div>
    </div>
  </div>
</div>

<!-- Documentos -->
<% @document.each do |document| %>
  <div class="row">
    <div class="col s12">
      <div class="card" style="width: 91%; margin: auto; text-align='center'">
        <div class="card-content blue-grey-text center-align">
          <span class="card-title"><%= document.titulo %></span>
          <div><%= cl_image_tag(document.asset.file.public_id + ".png",
                                :width => 600, :height => 800, :crop => :fit) %> </div>
          <p><%= document.descripcion %></p>
        </div>

        <div class="card-action center-align blue lighten-4">
          <%= link_to document.asset.url do %>
          <%= content_tag :span, "Ver documento completo", :class => "blue-grey-text home-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <% if (index == 4) %>
    <div class="row">
  <div class="col s12">
    <div class="card" style="width: 91%; margin: auto; text-align='center'">
      <div class="card-content blue-grey-text center-align">
        <span class="card-title">Video 2</span>
        <video style="width: 640px; height: 385px;" controls>
          <source src="https://res.cloudinary.com/hkm7dxrkk/video/upload/v1553031151/salud360/Pro_Salud_30_no.2.mp4" type="video/mp4">
        </video>
        <p>índice glucemico de los alimentos</p>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %> 
