<br><br>
<div class="row">
  <div class="col s10 offset-s1">
    <h4 class="grey-text text-darken-3">
      Hola <%= current_user.username %>...¿Qué sección quieres revisar hoy?
    </h4>

    <br><br>

    <div class="row">
      <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l2">
        <div class="card-panel white">
          <img src="<%= asset_path('miPerfilResize.jpg') %>" height="100%" width="100%"/>
          <%= link_to "Mi Perfil", '/pacientes_pages/mis_sesiones', class: "btn-large pink darken-1 btn-block"%>
        </div>
      </div>

      <div class="col s8 m6 l4 offset-s2 offset-m3">
        <div class="card-panel white">
          <img src="<%= asset_path('menuSemanalProxResize.jpg') %>" height="100%" width="100%"/>
          <%= link_to "Menú Semanal", '/menusemanal', class: "btn-large pink darken-1 btn-block disabled" %>
        </div>
      </div>
    </div>
  </div>
</div>
