<div class="card" style="width: 90%; margin: auto; text-align="center">

  <h4>Hola <%= current_paciente.username %>, tu plan es "plan" y estos son tus datos:</h4>                                                               
                                                                      
                                                                      
<h3>Datos Iniciales</h3>                                                            

                                                              
<h5 class="grey-text text-darken-1">*IMC: Índice de Masa Corporal *G.V.: Grasa Visceral *E.M.: Edad Metabólica</h5>
                
<h3>Seguimiento</h3>
                                   
<table>
  <thead>
    <tr>
      <th>Numero Sesion</th>
      <th>Peso</th>
      <th>Estatura</th>
      <th>Grasa</th>
      <th>Musculo</th>
      <th>Agua</th>
      <th>IMC</th>
      <th>Grasa Vis</th>
      <th>Edad Metabolica</th>
      <th>Hora</th>
      <th>Nutriologo</th>
      <th colspan="11"></th>
    </tr>
  </thead>
<% numS=1%>
  <tbody>
    <% current_paciente_sesions.each do |sesion| %>

      <tr>
        <td><%=numS%></td>
        <td><%= sesion.peso %></td>
        <td><%= sesion.estatura %></td>
        <td><%= sesion.grasa %></td>
        <td><%= sesion.musculo %></td>
        <td><%= sesion.agua %></td>
        <td><%= sesion.imc %></td>
        <td><%= sesion.grasa_vis %></td>
        <td><%= sesion.edad_metabolica %></td>
        <td><%= getHora(sesion.hora_id) %></td>
        <td><%=getNutriologoName(sesion.nutriologo_id)%></td>

      </tr>
      <% numS+=1%>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>Historial de Peso</th>
      <th>Historial de % de Grasa </th>
      <th>Historial de % de Musculo </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= line_chart current_paciente_pesos %></td>
      <td><%= line_chart current_paciente_grasa %></td>
      <td><%= line_chart current_paciente_musculo %></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col s5 offset-s1">
    <%= link_to 'Nueva Sesion', "/pacientes_pages/programarCita", class: "btn-large pink darken-1" %>
  </div>
  <div class="col s5 offset-s1">
    <%= link_to 'Ver Metas', "/pacientes_pages/ver_metas", class: "btn-large pink darken-1" %>
  </div>
</div>
                      <br></br>

</div>
