<br>
<div class="card" style="width: 90%; margin: auto; text-align='center'">

  <div class ="row">
    <div class="col s12">
      <h4>Hola <%= current_paciente.username %>, tu plan es <%=current_paciente.objetivo%> y estos son tus datos:</h4>
    </div>
  </div>
</div>

<div class="card" style="width: 90%; margin: auto; text-align='center'">
<div class="row flow-text">
  <div class ="row">
    <div class="col s12">
      <h4>Datos Iniciales</h4>
   </div>
  </div>

  <%if current_paciente_sesions.first != nil%>


  <div class="row">

    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">Peso</span>
            </div>
            <p> <%= current_paciente_sesions.first.peso %> kg.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">Estatura</span>
            </div>
            <p><%= current_paciente_sesions.first.estatura %> m.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">Grasa</span>
            </div>
            <p><%= current_paciente_sesions.first.grasa %>%</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">Musculo</span>
            </div>
            <p><%= current_paciente_sesions.first.musculo %>%</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">Cintura</span>
            </div>
            <p><%= current_paciente_sesions.first.cintura %> cm.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">IMC</span>
            </div>
            <p><%= current_paciente_sesions.first.imc %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">G.V.</span>
            </div>
            <p><%= current_paciente_sesions.first.grasa_vis %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="col s10 offset-s1 m6 l3">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <div class="card-title">
              <span class="center">E.M.</span>
            </div>
            <p><%= current_paciente_sesions.first.edad_metabolica %></p>
          </div>
        </div>
      </div>
    </div>

  </div>


<% else %>
  <div class ="row">
    <div class="col s10 offset-s1 card-panel blue lighten-4">
      <h5>Por el momento no tienes información</h5>
   </div>
  </div>
<% end %>
</div>
  <div class ="row">
    <div class="col s12">
      <h5 class="grey-text text-darken-1">*IMC: Índice de Masa Corporal *G.V.: Grasa Visceral *E.M.: Edad Metabólica</h5>
   </div>
  </div>
</div>
<div class="card" style="width: 90%; margin: auto; text-align='center'">


  <div class ="row">
    <div class="col s12">
      <h4>Seguimiento</h3>
   </div>
  </div>

<div class="flow-text">
<div class="row">
<div class="col s12">

<table class="responsive-table centered highlight">
  <thead>
    <tr>
      <th>Numero Sesion</th>
      <th>Peso</th>
      <th>Estatura</th>
      <th>Grasa</th>
      <th>Musculo</th>
      <th>Cintura</th>
      <th>IMC</th>
      <th>G.V.</th>
      <th>E.M.</th>
      <th>Hora</th>
      <th>Nutriologo</th>
      <th colspan="11"></th>
    </tr>
  </thead>
<% numS=1%>
  <tbody>
    <% current_paciente_sesions.each do |sesion| %>

      <tr>
        <td><%=numS%></td>
        <td><%= sesion.peso %>kg</td>
        <td><%= sesion.estatura %>m</td>
        <td><%= sesion.grasa %>%</td>
        <td><%= sesion.musculo %>%</td>
        <td><%= sesion.cintura %>cm</td>
        <td><%= sesion.imc %></td>
        <td><%= sesion.grasa_vis %></td>
        <td><%= sesion.edad_metabolica %></td>
        <td><%= getDia(sesion.hora_id) %></td>
        <td><%=getNutriologoName(sesion.nutriologo_id)%></td>

      </tr>
      <% numS+=1%>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="row">
  <h5>
  <div class = "col s4">
      Historial de Peso
  </div>
  <div class = "col s4">
      Historial de % de Grasa
  </div>
  <div class = "col s4">
      Historial de % de Musculo
  </div>
</h5>
  <br>
  <div class = "col s4">
      <%= line_chart current_paciente_pesos %>
  </div>
  <div class = "col s4">
      <%= line_chart current_paciente_grasa %>
  </div>
  <div class = "col s4">
      <%= line_chart current_paciente_musculo %>
  </div>

</div>

                      <br></br>
  <div class="row">
  <div class="col s4 offset-s0">
    <%= link_to 'Citas', "/pacientes_pages/programarCita", class: "btn-large pink darken-1 btn-block" %>
  </div>
  <div class="col s4 offset-s0">
    <%= link_to 'Ver Metas', "/pacientes_pages/ver_metas", class: "btn-large pink darken-1 btn-block" %>
  </div>
  <div class="col s4 offset-s0">
    <% if current_paciente.dieta.present? %>
      <li><a><%= link_to 'Ver mi dieta', current_paciente.dieta.dietaPDF.url, class: "btn-large pink darken-1 btn-block" %></a></li>
    <% else %>
      <li><a href="/pacientes_pages/ver_dietas" class="btn-large pink darken-1 btn-block">Ver mi dieta</a></li>
    <% end %>
  </div>


</div>
                      <br></br>

</div>
