<h1>Mis Sesiones</h1>

<table>
  <thead>
    <tr>
      <th>Numero Sesion</th>
      <th>Peso</th>
      <th>Estatura</th>
      <th>Grasa</th>
      <th>Musculo</th>
      <th>Agua</th>
      <th>IMC</th>
      <th>Grasa Vis</th>
      <th>Edad Metabolica</th>
      <th>Hora</th>
      <th>Nutriologo</th>
      <th colspan="11"></th>
    </tr>
  </thead>
<% numS=1%>
  <tbody>
    <% current_paciente_sesions.each do |sesion| %>

      <tr>
        <td><%=numS%></td>
        <td><%= sesion.peso %></td>
        <td><%= sesion.estatura %></td>
        <td><%= sesion.grasa %></td>
        <td><%= sesion.musculo %></td>
        <td><%= sesion.agua %></td>
        <td><%= sesion.imc %></td>
        <td><%= sesion.grasa_vis %></td>
        <td><%= sesion.edad_metabolica %></td>
        <td><%= getHora(sesion.hora_id) %></td>
        <td><%=getNutriologoName(sesion.nutriologo_id)%></td>

      </tr>
      <% numS+=1%>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>Historial de Peso</th>
      <th>Historial de % de Grasa </th>
      <th>Historial de % de Musculo </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= line_chart current_paciente_pesos %></td>
      <td><%= line_chart current_paciente_grasa %></td>
      <td><%= line_chart current_paciente_musculo %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Nueva Sesion', "/pacientes_pages/programarCita" %>
<%= link_to 'Ver Metas', "/pacientes_pages/ver_metas" %>
