<% @sesion = Sesion.new %>


<h1>Agrega cita</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">

  <%= form_for(@sesion) do |f| %>



    <%= f.label :hora %>
    <%= f.text_field :hora %>

    <%= f.label :fecha %>
    <%= f.date_field :fecha %>

    <%= f.hidden_field :paciente_id, :value=>current_paciente.id  %>

    <%= f.submit "Guardar", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
