<% @sesion = Sesion.new %>
<%if (current_paciente_next_sessions.count > 0)%>
  <div class="card" style="width: 90%; margin: auto; text-align="center">
    <div>
      <h4>Fechas de próximas sesiones:</h4>
    </div>
    <br>
        <div class="row">
        <div class="col s9 offset-s1">

          <%current_paciente_next_sessions.each_with_index do |sesion, index|%>
            <p class="flow-text">Sesión <%=(index+1)%>: <%=getHora(sesion.hora_id)%> con la nutrióloga <%=getNutriologoName(sesion.nutriologo_id)%>
            <%= link_to 'Eliminar',sesion_path(sesion),method: :delete,class: "btn btn-primary", style: "margin-left: 2px; height:26px; line-height:26px", data {confirm: '¿Está seguro de elmiinar su cita?'} %>
            </p>
          <%end%>

        </div>
        </div>
        <br>
    </div>
  <%end%>

  <br>
<div class="card" style="width: 90%; margin: auto; text-align="center">
  <div class ="row">
    <div class="col s12">
      <h4>Agrega cita</h4>
   </div>
  </div>
  <br>
  <%if horarios_disponibles.length >0%>
  <div class ="row">
    <div class="col s12">
      <h5> Elije un horario </h5>
   </div>
  </div>

  <div class="row">
  <div class="col s9 offset-s1">
      <%= form_for(@sesion) do |f| %>
        <%
          $a=[]
          horarios_disponibles.each do |horario|
              $a.push( [ horario.hora_disponible.strftime("El %d/%m/%Y a las %r") +" en " +horario.sede + " con "+ getNutriologoName(horario.nutriologo_id), horario.id])
          end
        %>
        <%= f.select :hora_id,$a%>
        <%= f.hidden_field :paciente_id, :value=>current_paciente.id  %>
        <%= f.submit "Guardar", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
    <%else%>
      <div class ="row">
        <div class="col s10 offset-s1 blue lighten-4">
          <h5>Lo sentimos, pero por ahora no hay horarios disponibles</h5>
        </div>
      </div>
    <%end%>
<br>

<script >
  M.AutoInit()
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
	</script>
												     </div>
