<div class="card" style="width: 90%; margin: auto; text-align="center">
<h4>Estas son tus metas <%=current_paciente.username%>, ¡¡Ánimo!!</h4>
<br>
<br>
<%@metas = paciente_metas(current_paciente.id)%>
<%
@porcentaje = 0
if @metas.count >0
  @porcentaje = (@metas.where(cumplida: true).count*1.0/(@metas.count*1.0)*100).to_i()
end


%>
<div class = "row">
<div class = "col s10 offset-s1 ">
    <div id="progressbar" class = "teal lighten-4">
      <div class="determinate light-green accent-4" style="width: <%= @porcentaje%>%"></div>
  </div>
  <br>
  <h3>Llevas <%=@porcentaje%>% completado</h3>
</div>
</div>
<br>
<br>
    <% @metas.each do |meta| %>
      <div class = "row">
      <div class = "col s10 offset-s1 ">
      <div class="card">
        <br>
        <div class = "row">
          <div class = "col s10 offset-s1 ">
          <div class="flow-text">
            <%=meta.meta%>
          </div>
          </div>
          <br>
          <br>
          <div class = "col s10 offset-s1 ">
          <%= form_for(meta) do |f| %>

          <label>
            <%= f.check_box :cumplida %>
            <span>Cumplida&nbsp&nbsp&nbsp&nbsp</span>
          </label>

          <%= f.submit "Guardar", class: "btn btn-primary" %>

          <% end %>
          </div>
        </div>
        <br>
      </div>
      </div>
      </div>
    <% end %>
    <div class="row">
    <div class="col s4 offset-s4">
      <%= link_to 'Dietas', "/pacientes_pages/ver_dietas", class: "btn-large pink darken-1 btn-block" %>
    </div>
  </div>

<br>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	<script>
		$(document).ready(function() {
			$('checkbox').material_select();
		});
	</script>
												     </div>
