<!DOCTYPE html>
<html>
  <head>
    <title>Salud360</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav>
        <div class="nav-wrapper">
          <a href="/"
               class="brand-logo">
                <img src="<%= asset_path( 'logo.png' ) %>" height="60px" width="80px"/>
            </a>
            <ul id="nav-mobile" class ="right hide-on-med-and-down">
              <% if user_signed_in? || nutriologo_signed_in? %>
                <li><a href="/users/sign_out" data-method="delete">Logout</a></li>
              <% end %>
            </ul>
        </div>
      </nav>

    <%= yield %>
  </body>
</html>
