<!DOCTYPE html>
<html>
  <head>
    <title>Salud360</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
  </script>
    
    <% if notice %>
  <script type="text/javascript">
    Materialize.toast('<%= notice %>', 4000)
  </script>
<% end %>
<% if alert %>
  <script type="text/javascript">
    Materialize.toast('<%= alert %>', 4000)
  </script>
<% end %>

<nav>
        <div class="nav-wrapper grey darken-4">
          <a href="/"
               class="brand-logo">
                <img src="<%= asset_path( 'logo.png' ) %>" height="60px" width="80px"/>
            </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class ="right hide-on-med-and-down">
              <% if user_signed_in?%>
                <li><a href="/users">Administración</a></li>
                <li><a href="/users/sign_out" data-method="delete">Logout</a></li>
              <% elsif nutriologo_signed_in? %>
                <li><a href="/nutriologo_pages/mis_sesiones">Mis Sesiones</a></li>
                <li><a href="/nutriologo_pages/mis_pacientes">Mis Pacientes</a></li>
                <li><a href="/nutriologos/sign_out" data-method="delete">Logout</a></li>
              <% elsif paciente_signed_in? %>
                <li><a href="/pacientes_pages/mis_sesiones">Mis Sesiones</a></li>
                <li><a href="/documents">Mis Documentos</a></li>
                <li><a href="/pacientes/sign_out" data-method="delete">Logout</a></li>
              <% end %>
            </ul>
        </div>
      </nav>
    
  <ul class="sidenav" id="mobile-demo">
    <% if user_signed_in?%>
                <li><a href="/users">Administración</a></li>
                <li><a href="/users/sign_out" data-method="delete">Logout</a></li>
              <% elsif nutriologo_signed_in? %>
                <li><a href="/nutriologo_pages/mis_sesiones">Mis Sesiones</a></li>
                <li><a href="/nutriologo_pages/mis_pacientes">Mis Pacientes</a></li>
                <li><a href="/nutriologos/sign_out" data-method="delete">Logout</a></li>
              <% elsif paciente_signed_in? %>
                <li><a href="/pacientes_pages/mis_sesiones">Mis Sesiones</a></li>
                <li><a href="/documents">Mis Documentos</a></li>
                <li><a href="/pacientes/sign_out" data-method="delete">Logout</a></li>
              <% end %>
  </ul>

    <%= yield %>
  </body>
</html>
